<div>
  <div id="datetime">
    <h1> {{ date.tz | date: 'HH:mm:ss' }} </h1>
    <h2> {{ date.tz | date: 'EEE, MMMM, yyyy'}} | {{user.location}} </h2>
  </div>

  <div id="forecast">
    <ul class="row list-unstyled">
      <li ng-repeat="day in weather.forecast[0].weather_data" class="col-md-3">
         <span ng-class="{today: $index == 0}">
          <img class="{{ day.icon }}" ng-src="{{ day.dayPictureUrl }}" />
          <h3>{{ day.weather }}</h3>
          <h3>{{ day.wind }}</h3>
          <h3>{{ day.temperature }}</h3>
<!--           <h4 ng-if="$index == 0">Now</h4> -->          
          <h4>{{ day.date }}</h4>
        </span>
      </li>
<!--     <pre> {{ weather.forecast[0].weather_data | json }} </pre> -->    
    </ul>
  </div>
</div>